.headblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form{
    display: flex;
    flex-direction: column;
}

.form h3{
    margin-bottom: 10px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Jobname {
    width: 500px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.description{
    width: 500px;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;   
}
.form button{
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}